.article-card .categories a {
    display: block;
    color: #fff;
    padding: 0.25rem 0.5rem;
    transition: all 0.3s ease;
}


.article-card .categories {
    list-style: none;
    margin: 0;
    padding: 0;
}