/* Alegreya - Normal (Regular, Medium, Bold, ExtraBold, Black) */
@font-face {
  font-family: "Alegreya";
  src: url("@/fonts/Alegreya-Regular.woff2") format("woff2");
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alegreya";
  src: url("@/fonts/Alegreya-Medium.woff2") format("woff2");
  font-weight: 500; /* Medium */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alegreya";
  src: url("@/fonts/Alegreya-Bold.woff2") format("woff2");
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alegreya";
  src: url("@/fonts/Alegreya-ExtraBold.woff2") format("woff2");
  font-weight: 800; /* ExtraBold */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alegreya";
  src: url("@/fonts/Alegreya-Black.woff2") format("woff2");
  font-weight: 900; /* Black */
  font-style: normal;
  font-display: swap;
}

/* Alegreya - Italic (Regular, Medium, Bold, ExtraBold, Black) */
@font-face {
  font-family: "Alegreya";
  src: url("@/fonts/Alegreya-Italic.woff2") format("woff2");
  font-weight: 400; /* Regular Italic */
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Alegreya";
  src: url("@/fonts/Alegreya-MediumItalic.woff2") format("woff2");
  font-weight: 500; /* Medium Italic */
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Alegreya";
  src: url("@/fonts/Alegreya-BoldItalic.woff2") format("woff2");
  font-weight: 700; /* Bold Italic */
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Alegreya";
  src: url("@/fonts/Alegreya-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800; /* ExtraBold Italic */
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Alegreya";
  src: url("@/fonts/Alegreya-BlackItalic.woff2") format("woff2");
  font-weight: 900; /* Black Italic */
  font-style: italic;
  font-display: swap;
}

/* Alegreya SC - Normal (Regular, Medium, Bold, ExtraBold, Black) */
@font-face {
  font-family: "Alegreya SC";
  src: url("@/fonts/AlegreyaSC-Regular.woff2") format("woff2");
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alegreya SC";
  src: url("@/fonts/AlegreyaSC-Medium.woff2") format("woff2");
  font-weight: 500; /* Medium */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alegreya SC";
  src: url("@/fonts/AlegreyaSC-Bold.woff2") format("woff2");
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alegreya SC";
  src: url("@/fonts/AlegreyaSC-ExtraBold.woff2") format("woff2");
  font-weight: 800; /* ExtraBold */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alegreya SC";
  src: url("@/fonts/AlegreyaSC-Black.woff2") format("woff2");
  font-weight: 900; /* Black */
  font-style: normal;
  font-display: swap;
}

/* Alegreya SC - Italic (Regular, Medium, Bold, ExtraBold, Black) */
@font-face {
  font-family: "Alegreya SC";
  src: url("@/fonts/AlegreyaSC-Italic.woff2") format("woff2");
  font-weight: 400; /* Regular Italic */
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Alegreya SC";
  src: url("@/fonts/AlegreyaSC-MediumItalic.woff2") format("woff2");
  font-weight: 500; /* Medium Italic */
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Alegreya SC";
  src: url("@/fonts/AlegreyaSC-BoldItalic.woff2") format("woff2");
  font-weight: 700; /* Bold Italic */
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Alegreya SC";
  src: url("@/fonts/AlegreyaSC-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800; /* ExtraBold Italic */
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Alegreya SC";
  src: url("@/fonts/AlegreyaSC-BlackItalic.woff2") format("woff2");
  font-weight: 900; /* Black Italic */
  font-style: italic;
  font-display: swap;
}
